body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: @layout-color;
    color: @font-color;
  }

a {
    text-decoration: none;
}

i {
    color: @acsent-color;
}


