@import '../../../../styles/variables.less';

div {
    border-bottom: 3px solid @font-color;
    text-align: center;
    padding: 5px;
}

div:hover, .active {
    background-color: @acsent-color;
    font-weight: bold;
}