<h1>
  <i class="material-icons header-bookmark-icon">bookmark</i>
  {{'Teacher journal' | translate}}
</h1>

<nav>
  <a routerLink="/students" routerLinkActive="active">{{'Students' | translate }}</a>
  <a routerLink="/subjects" routerLinkActive="active">{{'Subjects' | translate }}</a>
  <a routerLink="/statistics" routerLinkActive="active">{{'Statistics' | translate }}</a>
  <a routerLink="/export" routerLinkActive="active">{{'Export' | translate }}</a>
</nav>

<router-outlet></router-outlet>
