<h2>
  {{'Add new student' | translate }}:
</h2>

<form [formGroup]="studentForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label>*{{'Name' | translate}}:</label>
    <input type="text" formControlName="firstName" required [ngClass]="{'is-invalid': studentForm.get('firstName').touched && studentForm.get('firstName').invalid}">
    <div class='validation-message' *ngIf="studentForm.get('firstName').touched && studentForm.get('firstName').invalid">
      {{'Field' | translate }} {{'Name' | translate }} {{'must be entered' | translate }}!
    </div>
  </div>

  <div class="form-group">
    <label>*{{'Last Name' | translate }}:</label>
    <input type="text" formControlName="lastName" required [ngClass]="{'is-invalid': studentForm.get('lastName').touched && studentForm.get('lastName').invalid}">
    <div class='validation-message' *ngIf="studentForm.get('lastName').touched && studentForm.get('lastName').invalid">
        {{'Field' | translate }} {{'Last Name' | translate }} {{'must be entered' | translate }}!
    </div>
  </div>

  <div class="form-group">
    <label>{{'Address' | translate }}:</label>
    <input type="text" formControlName="address">
  </div>

  <div class="form-group">
    <label>{{'Description' | translate }}:</label>
    <textarea formControlName="description"></textarea>
  </div>

  <button type="submit" [disabled]="!studentForm.valid">{{'Add' | translate}}</button>

</form>
